@basic-black: #000000;
@basic-white: #ffffff;
@basic-green: #68B738;
@special-green: #5eaa2f;
@basic-grey: #f2f2f2;
@line-grey: #e6e6e6;
@line-grey2: #d9d9d9;
@line-grey3: #e7e7e7;
@special-grey1: #ebebeb;
@special-grey2: #cdcdcd;
@special-darkgrey1: #222222;
@special-darkgrey2: #444444;
@basic-coral: #ff8282;
@icon-grey: #666666;
@solid-line: 1px solid #cdcdcd;
@font-arial: "Arial", sans-serif;
@font-oswald: "Oswald", "Arial", sans-serif;
@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1320px;
@desktop-container: 1300px;
@mobile-width-only: 767px;
@retina-dppx: 2dppx;
@headline-tablet: calc((630px - 100vw) / 2);
@headline-desktop: calc((1220px - 100vw) / 2);
