@basic-black: #000000;
@basic-white: #ffffff;
@basic-green: #68b738;
@special-green: #5eaa2f;
@background-green: #63a73a;
@basic-grey: #f2f2f2;
@line-grey: #e6e6e6;
@line-grey2: #d9d9d9;
@line-grey3: #e7e7e7;
@special-grey1: #ebebeb;
@special-grey2: #cdcdcd;
@special-darkgrey1: #222222;
@special-darkgrey2: #444444;
@radio-outline: #bababa;
@background-grey: #eaeaea;
@basic-coral: #ff8282;
@icon-input: #222222;
@icon-grey: #666666;
@icon-grey2: #d3d3d3;
@solid-line: 1px solid #cdcdcd;
@font-arial: "Arial", sans-serif;
@font-oswald: "Oswald", "Arial", sans-serif;
@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1320px;
@desktop-container: 1300px;
@mobile-width-only: 767px;
@retina-dppx: 2dppx;
@headline-tablet: calc((630px - 100vw) / 2);
@headline-desktop: calc((1220px - 100vw) / 2);

:root {
  --slide-shift: 0;
  --slide-constant-width: 320px;
  --range-position: 5px;
  --range-position-left: 5px;
  --range-position-right: 43px;

  @media (min-width: @tablet-width) {
    --slide-shift: 352px;
    --slide-constant-width: 690px;
    --range-position: 197px;
    --range-position-left: 0;
    --range-position-right: 394px;
  }

  @media (min-width: @desktop-width) {
    --slide-shift: 325px;
  }
}
