.about-product {
  padding: 0 20px;
}

.about-product__title {
  margin-top: 0;
  margin-bottom: 38px;
  font-size: 36px;
  line-height: 40px;
  font-weight: normal;
}

.about-product__item {
  margin-bottom: 24px;
  padding-left: 80px;
  font-family: @font-arial;
  color: @special-darkgrey2;
}
