.additional-goods {
  padding-bottom: 35px;

  @media (min-width: @tablet-width) {
    padding-bottom: 76px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 86px;
  }
}

.additional-goods__wrapper {
  @media (min-width: @desktop-width) {
    display: grid;
    column-gap: 80px;
    grid-template-columns: 245px 245px 245px 245px;
  }
}

.additional-goods__list {
  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    margin-bottom: 67px;
    border: @solid-line;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 4;
    margin-bottom: 0;
    border: none;
  }
}

.additional-goods__title {
  position: relative;
  margin-top: 3px;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 30px;
  font-weight: normal;

  &::after {
    content: "";
    position: absolute;
    top: 18px;
    right: -19px;
    width: 52px;
    height: 2px;
    background: @basic-green;
  }

  @media (min-width: @tablet-width) {
    display: inline-block;
    margin-top: 0;
    padding-left: 37px;
    padding-right: 38px;
    margin-bottom: 77px;
    font-size: 36px;
    line-height: 40px;
    background-color: @basic-white;

    &::after {
      top: 24px;
      left: calc(768px - 100vw);
      z-index: -1;
      width: 100vw;
    }
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;

    &::after {
      left: calc(1380px - 100vw);
    }
  }
}

.additional-goods__link {
  color: @basic-black;
}

.additional-goods__item-title {
  margin: 0;
  margin-bottom: 9px;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 22px;
  }

  @media (min-width: @desktop-width) {
    min-width: 161px;
    margin-right: 163px;
  }
}

.additional-goods__item {
  padding-top: 13px;
  padding-bottom: 17px;
  border-top: @solid-line;

  &:last-of-type {
    border-bottom: @solid-line;
  }

  @media (min-width: @tablet-width) {
    min-height: 129px;
    padding: 25px 36px 28px 37px;

    &:last-of-type {
      border-bottom: none;
    }

    &:first-of-type {
      border-top: none;
    }
  }

  @media (min-width: @desktop-width) {
    display: flex;
    align-items: center;
    min-height: 72px;
    padding: 14px 0 11px 0;

    &:last-of-type {
      border-bottom: @solid-line;
    }

    &:first-of-type {
      border-top: @solid-line;
    }
  }
}

.additional-goods__item-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.additional-goods__table {
  width: 100%;
  margin-bottom: 11px;

  @media (min-width: @tablet-width) {
    width: 235px;
    margin-bottom: 0;
  }
}

.additional-goods__product-table {
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    justify-content: flex-end;
  }

  @media (min-width: @desktop-width) {
    width: 286px;
    justify-content: space-between;
  }
}

.additional-goods__product-value {
  padding: 0;
  font-family: @font-arial;
  color: @special-darkgrey2;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: end;
  }
}

.additional-goods__product-price {
  @media (min-width: @tablet-width) {
    min-width: 94px;
  }

  @media (min-width: @desktop-width) {
    min-width: 43px;
    text-align: left;
  }
}

.additional-goods__button {
  @media (min-width: @desktop-width) {
    width: 244px;
    margin-left: auto;
  }
}
