.additional-goods {
  padding-top: 3px;
  padding-bottom: 35px;

  @media (min-width: @tablet-width) {
    padding-bottom: 76px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 68px;
  }
}

.additional-goods__wrapper {
  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.additional-goods__list {
  margin-bottom: 36px;

  @media (min-width: @desktop-width) {
    width: 896px;
    margin-right: auto;
    margin-bottom: 0;
  }
}

.additional-goods__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 30px;
  font-weight: normal;
}

.additional-goods__item-title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;

  @media (min-width: @desktop-width) {
    min-width: 161px;
    margin-right: 168px;
  }
}

.additional-goods__item {
  padding-top: 12px;
  padding-bottom: 18px;
  border-top: 1px solid @special-grey2;

  &:last-of-type {
    border-bottom: 1px solid @special-grey2;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    align-items: baseline;
  }
}

.additional-goods__link {
  color: @basic-black;
}

.additional-goods__product-value {
  padding: 0;
  font-family: @font-arial;
  color: @special-darkgrey2;
}

.additional-goods__table {
  width: 100%;
  margin-bottom: 11px;
}

.additional-goods__product-table {
  display: flex;
  justify-content: space-between;

  @media (min-width: @desktop-width) {
    width: 286px;
  }
}

.additional-goods__button {
  @media (min-width: @desktop-width) {
    width: 244px;
    margin-left: auto;
  }
}
