.all-product {
  padding-top: 29px;
  text-align: center;
}

.all-product__link-plus {
  display: block;
  width: 30px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 23px;
}

.all-product__title {
  margin: 0;
  padding-bottom: 8px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.all-product__text {
  margin: 0;
  padding-bottom: 20px;
  font-family: @font-arial;
  font-size: 12px;
  line-height: 16px;
  color: @special-darkgrey2;
  font-style: normal;
}

.all-product__link {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: @basic-grey;
  color: @special-darkgrey2;
}
