.contacts {
  width: 320px;
  margin: 0 auto;
  background-color: @basic-grey;
}

.contacts-wrapper {
  display: flex;
  padding: 28px 20px 22px 20px;
}

.contacts-title {
  margin: 0;
  font-size: 16px;
  text-transform: uppercase;
}

.contacts-address {
  font-family: @font-arial;
  line-height: 19px;
  color: @special-darkgrey2;
  font-style: normal;
}

.contacts-map {
  width: 100%;
  min-height: 362px;
  border: none;
}
