.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 78px;

  @media (min-width: @tablet-width) {
    min-width: 164px;
    padding-bottom: 8px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.copyright__name {
  font-family: @font-arial;
  font-size: 16px;
  color: @special-darkgrey2;
  transition: color 0.3s, opacity 0.3s;

  &:hover {
    color: @basic-green;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__link {
  fill: @icon-grey;
  transition: fill 0.3s, opacity 0.3s;

  &:hover {
    fill: @basic-green;
  }

  &:active {
    fill: @basic-green;
    opacity: 0.3;
  }
}
