.page-footer {
  background-color: @basic-grey;
}

.page-footer__wrapper {
  min-height: 236px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 150px;
  }
}

.page-footer__logo-link {
  display: block;
  border-bottom: 1px solid @line-grey2;

  @media (min-width: @tablet-width) {
    border-bottom: none;
  }
}

.page-footer__footer-logo {
  margin: 42px 76px 26px 76px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    margin-top: 5px;
  }
}

.page-footer__social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 63px;
  padding-left: 73px;
  padding-right: 82px;
  border-bottom: 1px solid @line-grey2;

  @media (min-width: @tablet-width) {
    margin-left: 20px;
    min-width: 117px;
    max-width: 250px;
    padding: 0;
    border-bottom: none;
  }
}

.page-footer__social-item:not(:last-child) {
  margin-right: 20px;
}
