.page-footer {
  padding: 0 20px;
  background-color: @basic-grey;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-top: 55px;
    padding-bottom: 61px;
  }

  @media (min-width: @desktop-width) {
    padding: 55px 40px 11px 40px;
  }
}

.page-footer__logo-link {
  display: block;
  border-bottom: 1px solid @line-grey2;
}

.page-footer__footer-logo {
  margin: 39px 76px 32px 76px;
}

.page-footer__social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 63px;
  padding-left: 73px;
  padding-right: 73px;
  border-bottom: 1px solid @line-grey2;
}
