.page-header {
  background-color: @basic-white;
}

.page-header__logo {
  display: block;
  width: 195px;
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    margin-top: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 60px;
  }
}

.page-header__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 10px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    padding-top: 0;
  }
}
