.page-footer {
  padding: 0 20px;
  background-color: @basic-grey;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.page-footer__logo-link {
  display: block;
  border-bottom: 1px solid @line-grey2;

  @media (min-width: @tablet-width) {
    border-bottom: none;
  }
}

.page-footer__footer-logo {
  margin: 39px 76px 32px 76px;

  @media (min-width: @tablet-width) {
    margin: 60px 0;
  }
}

.page-footer__social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 63px;
  padding-left: 73px;
  padding-right: 73px;
  border-bottom: 1px solid @line-grey2;

  @media (min-width: @tablet-width) {
    min-width: 130px;
    padding: 0;
    border-bottom: none;
  }
}
