.promo {
  width: 320px;
  margin: 0 auto;
  min-height: 305px;
  padding-bottom: 22px;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.promo-wrapper {
  padding: 27px 20px 22px 20px;
  text-align: center;
}

.promo__title {
  margin: 0;
  padding: 0;
  font-size: 34px;
  line-height: 40px;
  color: @basic-white;
}

.promo__tagline {
  text-transform: uppercase;
  color: @basic-white;
}
