.sample-program {
  background-color: @basic-grey;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.sample-program__wrapper {
  padding: 27px 20px 25px 20px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.sample-program__wrapper-background {
  @media (min-width: @tablet-width) {
    padding: 43px 30px 54px 30px;
    background-color: @basic-white;
  }

  @media (min-width: @desktop-width) {
    max-width: 570px;
    padding: 62px 40px 75px 30px;
  }
}

.sample-program__title {
  margin-top: 0;
  margin-bottom: 33px;
  font-size: 36px;
  line-height: 40px;
  font-weight: normal;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 64px;
    margin-bottom: 146px;
  }
}

.sample-program__text {
  width: 279px;
  margin: 0;
  margin-bottom: 25px;
  font-family: @font-arial;
  color: @special-darkgrey2;

  @media (min-width: @tablet-width) {
    width: 700px;
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    width: 436px;
    margin-bottom: 60px;
  }
}

.sample-program__wrapper-description {
  @media (min-width: @tablet-width) {
    display: flex;
  }

  @media (min-width: @desktop-width) {
    flex-wrap: wrap;
    width: 366px;
  }
}

.sample-program__description-list {
  display: flex;
  margin: 0;

  @media (min-width: @desktop-width) {
    margin-bottom: 55px;
  }
}

.sample-program__description-term {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 36px;
  }
}

.sample-program__description-details {
  font-family: @font-arial;
  font-size: 12px;
  line-height: 14px;
  color: @special-darkgrey2;

  @media (min-width: @tablet-width) {
    font-size: inherit;
    line-height: inherit;
  }
}

.sample-program__cost {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 180px;
    margin-left: auto;
    font-size: 20px;
    line-height: 26px;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 327px;
    margin: 0;
  }
}
