.services {
  padding-bottom: 7px;

  @media (min-width: @tablet-width) {
    padding-bottom: 13px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 41px;
  }
}

.services__title {
  position: relative;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: 13px;
  font-size: 24px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;

  &::after {
    content: "";
    position: absolute;
    top: -6px;
    left: -12px;
    width: 50px;
    height: 50px;
    background-color: @special-green;
    border-radius: 50%;

    @media (min-width: @tablet-width) {
      top: 16px;
      left: 393px;
      width: 200px;
      height: 200px;
    }

    @media (min-width: @desktop-width) {
      top: -28px;
      left: -20px;
      width: 100px;
      height: 100px;
    }
  }

  @media (min-width: @tablet-width) {
    margin-left: 0;
    margin-bottom: 23px;
    text-align: left;
    font-size: 36px;
    line-height: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 73px;
    margin-left: 20px;
    text-align: center;
  }
}

.services__title--slim {
  &::before {
    content: url("../img/icon-cat-slim.svg");
    position: absolute;
    top: -9px;
    left: -4px;
    width: 36px;
    height: 50px;
    z-index: 2;

    @media (min-width: @tablet-width) {
      top: 4px;
      left: 423px;
      width: 140px;
      height: 192px;
    }

    @media (min-width: @desktop-width) {
      top: -35px;
      left: -5px;
      width: 71px;
      height: 97px;
    }
  }
}

.services__title--pro {
  margin-left: 40px;

  &::after {
    left: -37px;

    @media (min-width: @tablet-width) {
      left: 395px;
    }

    @media (min-width: @desktop-width) {
      left: -61px;
    }
  }

  &::before {
    content: url("../img/icon-cat-pro.svg");
    position: absolute;
    top: 4px;
    left: -48px;
    width: 67px;
    height: 28px;
    z-index: 2;

    @media (min-width: @tablet-width) {
      top: 60px;
      left: 359px;
      width: 268px;
      height: 112px;
    }

    @media (min-width: @desktop-width) {
      top: -8px;
      left: -80px;
      width: 134px;
      height: 56px;
    }
  }

  @media (min-width: @tablet-width) {
    margin-left: 0;
  }

  @media (min-width: @desktop-width) {
    margin-left: 61px;
  }
}

.services__list {
  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.services__item {
  min-height: 266px;
  margin-bottom: 20px;
  padding: 29px 20px 19px 20px;
  background-color: @basic-grey;

  @media (min-width: @tablet-width) {
    margin-bottom: 30px;
    padding: 73px 28px 57px 53px;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    padding: 75px 51px 57px 52px;
  }
}

.services__description {
  margin-top: 0;
  margin-bottom: 19px;
  padding-bottom: 22px;
  font-family: @font-arial;
  color: @special-darkgrey2;
  border-bottom: 1px solid @line-grey2;

  @media (min-width: @tablet-width) {
    width: 377px;
    padding: 0;
    margin-bottom: 52px;
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;
    color: @basic-black;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    margin-bottom: 26px;
  }
}

.services__description--pro {
  @media (min-width: @tablet-width) {
    width: 342px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.services__link {
  position: relative;
  font-size: 16px;
  text-transform: uppercase;
  color: @basic-black;

  &::after {
    position: absolute;
    content: url("../img/icon-right-arrow-long.svg");
    width: 24px;
    height: 12px;
    top: 0;
    right: -39px;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;

    &::after {
      top: -3px;
      right: -49px;
    }
  }

  @media (min-width: @desktop-width) {
    &::after {
      right: -52px;
    }
  }
}
